.content{
    padding-top: 10px;
    padding-bottom: 200px;
    &__breadcrumbs{
        &-link, &-line, &-text{
            font-size: 14px;
            color: #767676;
        } 

        &-line{
            padding-right: 5px;
        }
    }

    &__products{
        padding-top: 27px;
    }

    &__left{
        float: left;
        width: 180px;
        display: flex;
        flex-direction: column;
    }

    &__menu{
        display: flex;
        flex-direction: column;
    }

    &__link, &__sublink{
        font-size: 18px;
        color: #767676;
    }
}