.footer{
    background-color: #777777;
    padding-top: 50px;
    padding-bottom: 53px;
    flex-shrink: 0;
    width: 1349px;

    &__info{
        display: flex;
        flex-direction: column;
        margin-right: 150px;
    }

    &__descr{
        font-size: 14px;
        color: #fff;
    }

    &__email{
        font-size: 14px;
        color: #fff;
        text-decoration: none;
    }

    &__container{
        display: flex;
    }

    &__menu{
        display: flex;
        flex-direction: column;
        list-style-type: none;
    }

    &__link{
        font-size: 14px;
        line-height: 26px;
        color: #fff;
    }

    &__company{
        display: flex;
        margin-left: auto;
        margin-right: 0em;
        position: relative;
    }

    &__img{
        position: absolute;
        width: 36px;
        height: 38px;
        left: -50px;
        top: 5px;
    }

    &__title{
        font-size: 14px;
        color: #fff;
        width: 170px;
    }
}